{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <br/>
    {{ request.user.username|json_script:"username" }}
    {{ pagination.number | json_script:"current-page" }}


    <div>

    </div>
    <div class="row">
        <div class="col-2 sidebar-left">
            <nav class="nav">
        <a class="navbar-brand" href="#">Network</a>
        <div>
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item">
                    <a class="nav-link " id="indexpage" href="{% url 'index' %}">All Posts</a>
                </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a id="following-page" class="nav-link" href="{% url "followpage" %}">Following</a>
                    </li>
                    <div class="">
                        <span class="navbar-text logged">
                            Logged as: <strong><a
                                href="/profile/{{ request.user.username }}">{{ request.user.username }} </a> </strong>
                        </span>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    </div>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
        </div>
        <div class="col-8 ">

        {% if page_index %}
            <div class="newpost">
                <h3 class="new-post-h1">Add new post
                    <h3>
                        <div class="newpost-main">
                            {#                                <div class="avatar-container">#}
                            {#                                    <img class="avatar-post" src="{% static 'network/images/noimage.png' %}" alt="User image">#}
                            {#                                </div>#}
                            <div class="form-group">
                                <form class="form" method="post">
                                    {% csrf_token %}
                                    <input id="post-title" class="form-control" type="text" name="title"
                                           placeholder="Post title" required>
                                    <br/>
                                    <textarea id="post-body" class="form-control" type="text" , name="post"
                                              maxlength="500" placeholder="Write your post here"></textarea>
                                    <br/>
                                </form>
                            </div>
                        </div>
                        <button id="submit-post" type="button" class="btn btn-primary newpost-button" type="submit">
                            Submit Post
                        </button>
            </div>
            <br/>
        {% endif %}

            <div id="all-posts" class="all-posts">
                <div class="posts-for-profile">
                    <div class="container">
                        <div class="row align-items-center flex-row-reverse">
                            {% if page_index %}
                                <div class="posts-header"><h1>All post's</h1></div>
                            {% elif  page_follow%}
                                <div class="posts-header"><h1> Your folowing posts</h1></div>
                            {% endif %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                {% if page_index %}
                                    {% for page in pagination_all.page_range %}
                                        <li class="page-item"><a id="page-all" class="page-link"
                                                                  href="#">{{ page }}</a></li>
                                    {% endfor %}
                                {%  else %}
                                        {% for page in pagination_follow.page_range %}
                                        <li class="page-item"><a id="page-follow" class="page-link"
                                                                  href="#">{{ page }}</a></li>
                                    {% endfor %}
                                {% endif %}
                                </ul>
                            </nav>
                            {% if page_index %}
                            <div id="full-posts" class="posts">
                                {#Posts insert here#}
                            </div>
                        {%  else %}
                            <div id="following-posts" class="posts">
                                {#Followed insert here#}

                            </div>
                        {% endif %}
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 sidebar-right">
            Right
        </div>

    </div>
    <script>

    </script>
{% endblock %}