{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="newpost">
                <h3>Add new post<h3>
        <div class="newpost-main">
            <div class="avatar-container">
                <img class="avatar-post" src="{% static 'network/images/noimage.png' %}" alt="User image">
            </div>
             <form class="form" method="post">
            <textarea id="post-body" type="text", name="post" maxlength="500" placeholder="Write your post here"></textarea>
            <br/>
        </form>
        </div>
                    <button id="submit-post" type="button" class="btn btn-primary" type="submit">Post</button>
    </div>

<br/>
                    <div class="row">
                        <div class="col-2 sidebar-left">
text
                        </div>
                        <div class="col-8 ">
                            <div id="all-posts" class="all-posts">
                                test
                            </div>
                        </div>
                        <div class="col-2 sidebar-right">
text
                        </div>

                    </div>




{% endblock %}