* {
    margin: 0;
    padding:0;
}

.newpost{
    background-color:gainsboro;
}


.newpost-main{
    margin: 10px;
    z-index: 1;

}

.avatar-container{

}


.avatar-post{
    height:80px;
    width:80px;
    border-radius:20px;
    position: absolute;
    z-index:1;
}

.form{
    position: relative;
    font-size: 15px;
    color: #000;
    padding-left: 10px;
}

#title {
    margin-bottom: 10px;
}

.newpost-button {
    margin:0px 10px 10px 20px;

}

/*.form::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 75px;*/
/*    height: 75px;*/
/*    left: 0;*/
/*    top: 5px;*/
/*    background: url(images/noimage.png) center 0 no-repeat;*/
/*}*/

.newpost textarea{
    width: 100%;
}

.sidebar-left{
    position:relative;
    background-color: aqua;
}

.sidebar-right{
    background-color:fuchsia;
}

/*CSS For Profile page*/

.profile-container {
    display: flex;
    justify-content: center;
    text-align: center;
    border:1px dashed black;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}

.profile-header{

}

.profile-image{
    border-radius: 10px !important;
}

.posts-for-profile {
    border:1px dashed black;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}

.load-button{
    margin-bottom:10px;
    justify-content: center;
    align-items: center
}
.load-more{
    margin-bottom:10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*CSS for posts output */

.out-post-container{
    border: 1px solid deepskyblue;
    padding: 5px;
    margin-bottom: 10px;
}

.post-title{
    font-size:18px;
    font-width: bold;
    font-family: sans-serif;
        display:flex;

}

.post-publish_user{
    float:right
}

.post-body{

}

.post-timestamp{
    font-size:12px;
    color:dimgrey;
    font-family: sans-serif;

}

.post.likes{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    left: 0;
    top: 5px;
    background: url(images/like.png) center 0 no-repeat;

}

.like-button{
    border-radius: 5px;
}

.post-edit{
    justify-content: right;
    display:flex;

}
.edit-button{
    margin-top: 5px;

}



.one-post{
  display:block;

}

.load-more{
  display:block;
  color:#fff;
  margin:0 auto;
  line-height:50px;
  width:30%;
  border-radius:30px;
  text-decoration:none;
  border:3px #ee5f4a solid;
  background:#ee5f4a;
  opacity:0.7;
  margin-bottom:50px;
}

.load-more:hover{
  opacity:1;
}



