* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logbox {
    display: flex;
    position: absolute;
    border: 1px solid deepskyblue;
    padding-left: 10px;
}

.newpost {
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.new-post-h1 {
    margin-left: 20px;
    paddiing-top: 20px;

}

.newpost-main {
    margin: 10px;
    z-index: 1;

}

.avatar-container {

}


.avatar-post {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
}

.form {
    position: relative;
    font-size: 15px;
    color: #000;
    padding-left: 10px;
}

#title {
    margin-bottom: 10px;
}

.newpost-button {
    margin: 0px 10px 10px 20px;

}

/*.form::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 75px;*/
/*    height: 75px;*/
/*    left: 0;*/
/*    top: 5px;*/
/*    background: url(images/noimage.png) center 0 no-repeat;*/
/*}*/

.newpost textarea {
    width: 100%;
}

.sidebar-left {
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);

}

.sidebar-right {
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);

}

/*CSS For Profile page*/

.profile-container {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.profile-header {

}

.profile-image {
    border-radius: 10px !important;
}

.posts-for-profile {

    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}


.load-more {
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.load-more:hover {
    opacity: 1;
}

/*CSS for posts output */

.out-post-container {
    border: 1px solid deepskyblue;
    padding: 5px;
    margin-bottom: 10px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

}

.post-edit {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;


}

.out-post-container:hover {
    border: 2px solid #068f9e;

}

.out-post-container:hover .post-edit {
    visibility: visible;
    opacity: 1;


}

.post-title {
    font-size: 18px;
    font-width: bold;
    font-family: sans-serif;
    display: flex;

}

.post-publish_user {
    float: right
}

.post-body {

}

.post-timestamp {
    font-size: 12px;
    color: dimgrey;
    font-family: sans-serif;

}

.post.likes {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    left: 0;
    top: 5px;
    background: url(images/like.png) center 0 no-repeat;

}

.like-button {
    border-radius: 5px;
}

.post-edit {
    justify-content: right;
    display: flex;

}

.edit-button {
    margin-top: 5px;

}


.one-post {
    display: block;

}







